/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Epilogue';
  src: url(./assets/fonts/Epilogue-VariableFont_wght.ttf);
}
/* Colors Variables */
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}
html {
  overflow-x: hidden;
}
/* Body */
body {
  background-color: var(--Almost-White);
  color: var(--Almost-Black);
  font-family: 'Epilogue';
  font-size: 1.125rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 1.5rem;
  & .menu_Icon {
    display: none;
  }
  & nav {
    /* display: none; */
  }
}
main {
  & img {
    width: 23.4rem;
  }
}

















.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

